*{ 
 padding: 0; 
 margin: 0; 
 border: 0; 
} 
*,*:before,*:after{ 
 -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box; 
} 
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 
 
nav,footer,header,aside{display: block;} 
 
html,body{ 
 height: 100%; 
 width: 100%; 
 font-size: 100%; 
 line-height: 1; 
 font-size: 14px; 
 -ms-text-size-adjust: 100%; 
 -moz-text-size-adjust: 100%; 
 -webkit-text-size-adjust: 100%; 
} 
input,button,textarea{font-family:inherit;} 
 
input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;} 
img{vertical-align: top;} 
 
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 700;} 

body{
   background-color: #30BA8F;
   font-family: "Tagesschrift", system-ui;
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   color: #464451;
}

header{
    background-color: #763C28;
    padding:20px 1%;
}
.раздел{
    color:#E8793E;
    font-size: 40px;
    display:inline-block;
}
.Тафсир__Навссылки{
    display: flex;
}
.Тафсир__сылкаРаздел{
    color:#E8793E;
    font-size: 30px;
    margin-top: 10px;
}
.Тафсир__навигация{
    display: flex;
    justify-content: space-around;
}
.описание{
    background-color: #E8793E;
    color: #763C28;
}
.Тафсир{
    margin:4%;
}
.Тафсир__тема{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    color: #7FFFD4;
}
.Тафсир__ссылки{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 40px;
}
.Тафсир__сылкаТема{
    display: block;
    margin: 10px;
    color: #120A8F;
}
.Тафсир__заголовок{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Тафсир__подзаговок{
    font-size: 27px;
    margin-bottom: 20px;
}
.Тафсир__список{
    margin-left: 30px;
    margin-bottom: 10px;
}
.Тафсир__значения{
    margin-bottom: 20px;
}
.Тафсир__учёные{
    margin-bottom: 20px;
    background-color: #BC987E;
    border-radius: 30px 20px 20px 10px;
    padding: 15px;
}
.Тафсир__учёные:before{
   content: "";
   background-image: url(img/crystal-576581.svg);
   display:block;
   position:absolute;
   left: 10px;
   width: 30px;
   height: 20px;
}
.Тафсир__виды{
    padding:15px 30px;
    border-radius: 20px 40px;
    margin-bottom: 20px; 
    background-color: #7FFFD4;
}
.Тафсир__виды:before{
   content: "";
   background-image: url(img/stone-576361.svg);
   display:block;
   position:absolute;
   left: 10px;
   width: 30px;
   height: 30px;
}
.Тафсир__пояснение{
    margin-bottom: 20px; 
    background-color: #009B76;
    border-radius: 25px;
    padding: 15px;
}
.Тафсир__пояснение:before{
   content: "";
   background-image: url(img/fern-1837450.svg);
   display:block;
   position:absolute;
   left: 10px;
   width: 20px;
   height: 30px;
}
.Тафсир__проРечьАллаха{
    margin-bottom: 20px;
    border:solid 3px;
    border-left:0;
    border-right:0;
}
.Тафсир__Сунна{
    margin-bottom: 20px;
    background-color: #FFB02E;
    border-radius: 10px;
    padding: 15px;
}
.Тафсир__Сунна:before{
   content: "";
   background-image: url(img/yellow-576237.svg);
   display:block;
   position:absolute;
   left: 10px;
   width: 30px;
   height: 30px;
}
.Тафсир__сподвижники{
    background-color:#FFB841;
    border-radius: 30px 20px 10px 10px;
    padding: 25px 23px;
    margin-bottom: 20px;
}
.Тафсир__сподвижники:before{
   content: "";
   background-image: url(img/камень.svg);
   display:block;
   position:absolute;
   left: 10px;
   width: 30px;
   height: 30px;
}
@media(max-width:768px)  {
    body{
        font-size: 15px;
    }
    .раздел{
        font-size: 30px;
    }
    .Тафсир__тема{
        font-size: 25px;
    }
    .Тафсир__заголовок{
        font-size: 20px;
    }
    .Тафсир__подзаговок{
        font-size: 17px;
    }
    .Тафсир__сылкаРаздел{
        font-size: 20px;
    }
}